@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  background-color: pink;
  font-family: "Montserrat", sans-serif;
  color: purple;
  z-index: 0;
}

.body {
  width: normal;
}

.sec1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sec2 {
  margin-top: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sec3 {
  margin-left: 400px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.quby1 {
  margin-top: 200px;
  width: 250px;
  height: 200px;
}

.quby2 {
  margin-top: 200px;
  width: 200px;
  height: 200px;
}

.yesbtn {
  border: 1px solid purple;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #90ee90;
}

.nobtn {
  border: 1px solid purple;
  text-decoration: none;
  padding: 3px 2px;
  cursor: pointer;
  background-color: red;
}

.ticket {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .main span {
    font-size: 20px;
  }
}
